.fourthPart{
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}
.humanAnalysis{
  background-image: url('/public/Images/forFourthPart.png');
  background-repeat: no-repeat;
  background-color: #150E28;
  background-blend-mode: hard-light;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 200px;
}
.judgingCriteria{
  background-image: url('/public/Images/forFourthPart2.png');
  background-position: 200px 200px;
  background-color: #150E28;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 50%;
}
.listGroup{
  list-style: none;
  width: 100%;
}
.listItem{
  width: 533px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
}
@media only screen and (max-width: 900px){
  .fourthPart{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .humanAnalysis{
    width: 100%;
  }
  .judges{
    width: 100%;
  }
  .judgingCriteria{
    width: 100%;
  }
  .criteriaContainer{
    width: 85%;
    text-align: center;
  }
  .listItem{
    width: 100%;
  }
  

}
