.eightPart{
  /* margin-top: 300px; */
  width: 100%;
  display: flex;
  position: relative;
  gap: 30px;
  padding: 120px 0;
  flex-direction: column;
  align-items: center;
}
.starPurpleS{
  position: absolute;
  top: 14%;
  left: 11.5%;
  width: 1.5%;
}
.glareS{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 380px;
  height: 350px;
  background-color: #903AFF;
  border-radius: 50%;
  filter: var(--tw-blur);
  --tw-blur: blur(124px);
}
.glareS1{
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 180px;
  height: 350px;
  background-color: #903AFF;
  border-radius: 50%;
  filter: var(--tw-blur);
  --tw-blur: blur(124px);
}
.starPurpleS1{
  position: absolute;
  top: 32%;
  left: 56.5%;
  width: 1.5%;
}
.starWhiteS{
  position: absolute;
  bottom: 21%;
  left: 56.5%;
  width: 1.5%;
}
.sponsors{
  display: flex;
  flex-direction: column;
  width: 85%;
  grid-row-gap: 10px;
  height: 560px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #D434FE;
  background: rgba(255, 255, 255, 0.01);
}
.partnersNote{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  width: 450px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}
.sporsorsLogo{
  display: flex;
  width: 257.298px;
  /* border: 3px solid green; */
  justify-content: center;
}
.verticalPipes{
  width: 4px;
  height: 130px;
  background: #D434FE;
}
.sporsorsContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 3px solid red; */
  justify-content: center;
  width: 100%;
}
.sporsorsContainer2{
  display: none;
}
.horizontalContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  /* border: 3px solid white; */
  gap: 44px; 
}
.horizontalContainer2{
  display: none;
}
.horizontalPipe{
  height: 4px;
  width: 257.298px;
  background: #D434FE;;
}
@media only screen and (max-width: 700px){
  .eightPart{
    width: 100%;
    padding-top: 0;
    padding-bottom: 120px;
  }
  .starPurpleS{
    position: absolute;
    top: 33%;
    left: 11.5%;
    width: 2.5%;
  }
  .starPurpleS1{
    position: absolute;
    top: 45%;
    left: 54%;
    width: 2%;
  }
  .starWhiteS{
    position: absolute;
    bottom: 33%;
    left: 78%;
    width: 3%;
  }
  .glareS{
    top: -7%;
    width: 100px;
    height: 100px;
    --tw-blur: blur(64px)
  }
  .glareS1{
    /* top: -7%; */
    bottom: -8%;
    width: 120px;
    height: 120px;
    --tw-blur: blur(64px)
  }
  .sporsorsLogo{
    width: 68px;
  }
  .liberty{
    width: 100%;
  }
  .paybox{
    width: 100%;
  }
  .partnersNote{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px;
    width: 90%;
  }
  .sponsors{
    height: 149px;
  }
  .sporsorsContainer{
    display: none;
  }
  .sporsorsContainer2{
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
  .horizontalContainer{
    display: none;
  }
  .horizontalContainer2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 14px;
  }
  .verticalPipes{
    height: 30px;
    width: 2px;
  }
  .horizontalPipe{
    width: 68px;
    height: 2px;
  }
}