.eightPart{
  /* margin-top: 300px; */
  width: 100%;
  display: flex;
  gap: 30px;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
}
.sponsors{
  display: flex;
  flex-direction: column;
  width: 85%;
  grid-row-gap: 10px;
  height: 560px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #D434FE;
  background: rgba(255, 255, 255, 0.01);
}
.partnersNote{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  width: 450px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}
.sporsorsLogo{
  display: flex;
  width: 257.298px;
  /* border: 3px solid green; */
  justify-content: center;
}
.verticalPipes{
  width: 4px;
  height: 130px;
  background: #D434FE;
}
.sporsorsContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 3px solid red; */
  justify-content: center;
  width: 100%;
}
.sporsorsContainer2{
  display: none;
}
.horizontalContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  /* border: 3px solid white; */
  gap: 44px; 
}
.horizontalContainer2{
  display: none;
}
.horizontalPipe{
  height: 4px;
  width: 257.298px;
  background: #D434FE;;
}
@media only screen and (max-width: 700px){
  .eightPart{
    width: 100%;
  }
  .sporsorsLogo{
    width: 68px;
  }
  .liberty{
    width: 100%;
  }
  .paybox{
    width: 100%;
  }
  .partnersNote{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px;
    width: 90%;
  }
  .sponsors{
    height: 149px;
  }
  .sporsorsContainer{
    display: none;
  }
  .sporsorsContainer2{
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
  .horizontalContainer{
    display: none;
  }
  .horizontalContainer2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 14px;
  }
  .verticalPipes{
    height: 30px;
    width: 2px;
  }
  .horizontalPipe{
    width: 68px;
    height: 2px;
  }
}