.lastPart{
  padding-top: 80px;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-around;
}
.glareW{
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 280px;
  height: 250px;
  background-color: #903AFF;
  border-radius: 50%;
  filter: var(--tw-blur);
  --tw-blur: blur(124px);
}
.starPurpleW{
  position: absolute;
  bottom: 25%;
  left: 4.5%;
  width: 1.5%;
}
.starPurpleW1{
  position: absolute;
  bottom: 30%;
  left: 70%;
  width: 1%;
}
.starPurpleW2{
  position: absolute;
  top: 27%;
  left: 45%;
  width: 1%;
}
.starWhiteW{
  position: absolute;
  top: 25%;
  right: 9%;
  width: 1%;
}
.starWhiteW1{
  position: absolute;
  bottom: 22%;
  right: 32%;
  width: 1%;
}
.starBlurW{
  position: absolute;
  top: 14%;
  left: 31%;
  width: 1.5%;
}
.starBlurW1{
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 1.5%;
}
.policy{
  padding-left: 40px;
  width: 60%;
  align-items: center;
  /* margin: 0 auto; */
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.mt7{
  margin-top: 20px;
}
.licensing{
  color: #D434FE;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 216.4%; 34.624px */
}
.lastUpd{
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */ 
}
.policyHead{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.privacyNote{
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 435px;
  line-height: 188.4%; /* 26.376px */ 
}
.policyContainer{
  width: 80%;
}
.policyTerms{
  margin-top: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
  flex-direction: column;
  /* align-items: center; */
  height: 575px;
  border-radius: 5px;
  border: 1px solid #D434FE;
  background: rgba(217, 217, 217, 0.03);
}
.policyWrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}
.paragraphs{
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.2px;
  width: 100%;
  margin: 0 auto;
}
.paragraphs li{
  border: 3px solid red;
}
.listWrapper{
  display: flex;
  /* align-items: center; */
}
.listItems{
  /* margin-top: -5px; */
  padding-left: 15px;
}
.listing{
  padding-top: 7px;
}
.policyImg{
  width: 40%;
  background-image: url('/public/Images/vector.png');
  background-repeat: no-repeat;
}
.manLock{
  margin-top: 270px;
  width: 80%;
}
@media only screen and (max-width: 700px){
  .lastPart{
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
  }
  .glareW{
    top: 49%;
    left: 0%;
    width: 120px;
    height: 180px;
    --tw-blur: blur(64px); 
  }
  .glareW1{
    bottom: 10%;
    position: absolute;
    left: 0%;
    background-color: #903AFF;
    filter: var(--tw-blur);
    width: 350px;
    height: 80px;
    --tw-blur: blur(168px); 
  }
  .starPurpleW{
    position: absolute;
    bottom: 25%;
    left: 4.5%;
    width: 2.5%;
  }
  .starPurpleW1{
    position: absolute;
    bottom: 30%;
    left: 70%;
    width: 2.5%;
  }
  .starPurpleW2{
    position: absolute;
    top: 27%;
    left: 45%;
    width: 3%;
  }
  .starWhiteW{
    position: absolute;
    top: 50%;
    right: 92%;
    width: 4%;
  }
  .starWhiteW1{
    position: absolute;
    bottom: 9%;
    left: 20%;
    width: 2.5%;
  }
  .starBlurW{
    position: absolute;
    top: 8%;
    left: 75%;
    width: 3%;
  }
  .starBlurW1{
    position: absolute;
    bottom: 8%;
    right: 20%;
    width: 2.5%;
  }
  .policy{
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }
  .policyContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .policyWrapper{
    width: 78%;
    align-items: center;
  }
  .privacyNote{
    width: 289px;
  }
  .licensingControl{
    text-align: left;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    /* line-height:  28.132px; */
  }
  .paragraphs{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25.968px;
  }
  .policyTerms{
    width: 100%;
    height: 100%;
    padding: 50px 0;
  }
  .listWrapper{
    text-align: left;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.108px;
  }
  .policyImg{
    margin-top: 50px;
    width: 80%;
    background-image: url('/public/Images/VectorMobile.png');
    background-repeat: no-repeat;
    background-position: 20px 0px;
    /* border: 3px solid white; */
    margin-bottom: 80px;
  }
  .manLock{
    margin-top: 95px;
    width: 85%;
  }
}