.thirdPart{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-blend-mode: hard-light;
  background-color: #150E28;
}
.glare3rd{
  position: absolute;
  top: 100px;
  left: 250px;
  width: 250px;
  height: 250px;
  background-color: #903AFF;
  border-radius: 50%;
  filter: var(--tw-blur);
  --tw-blur: blur(124px);
}
.glare3rd2{
  position: absolute;
  top: 200px;
  right: 0px;
  width: 130px;
  height: 450px;
  background-color: #903AFF;
  border-radius: 50%;
  filter: var(--tw-blur);
  --tw-blur: blur(124px);
}
.starBlur2{
  width: 1.5%;
  top: 120px;
  left: 370px;
  position: absolute;
}
.starWhite2{
  width: 1.5%;
  top: 420px;
  left: 670px;
  position: absolute;
}
.starWhite3{
  display: none;
}
.introducionText2{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.introducionText2 p{
  font-size: 14px;
  width: 525px;
  margin-top: 16px;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
}
.intro2Container{
  width:65%;
}
.thirdPartImg{
  width: 40%;
}
.LadySitting{
  width: 100%;
}
@media only screen and (max-width: 700px){
  .thirdPart{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .introducionText2{
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .introducionText2 p{
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
    line-height: 27.5px;
  }
  .thirdPartImg{
    width: 100%;
  }
  .intro2Container{
    width: 80%;
  }
  .glare3rd{
    width: 100px;
    height: 200px;
    top: 0;
    left: 50px;
    --tw-blur: blur(64px);
  }
  .glare3rd2{
    top: 270px;
    right: 0px;
    height: 200px;
    --tw-blur: blur(64px);
  }
  .starBlur2{
    width: 3%;
    top: 350px;
    left: 300px;
  }
  .starWhite2{
    top: 170px;
    left: 40px;
  }
  .starWhite3{
    display: block;
    width: 3%;
    position: absolute;
    bottom: 40px;
    left: 120px;
  }
}